body {
	background-color: #406996;
}

/* Login Page */
#login-panel {
    width: 250px;
    margin-top: 100px;
}

/* Desktop */

div#dashboard-desktop-items {
	height: 400px;
}

div.desktop-item-icon {
	width: 90px;
    height: 90px;
    cursor: pointer;
    padding: 4px;
    margin-bottom: 20px;
	color: #FFF;
    text-align: center;
    text-shadow: 0 1px 1px #000;
	font-size: 12px;
}
div.desktop-item-icon img {
	width: 50px;
}
div.desktop-item-icon:hover{
    border-radius: 4px;
	text-decoration: underline;
}

/* Dashboard */
#header {
    background: #7F99BE url(../images/panel-bg.gif) repeat-x center;
}
#header h1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    padding: 7px 10px;
}